<template>
  <div>
    <h2>本 編集</h2>
    <!-- ボタン -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <v-btn class="ma-1" @click="$router.push('/books')">
              <v-icon>list</v-icon>一覧
            </v-btn>
            <v-btn class="ma-1" @click="$router.push(`/books/${dataid}`)">
              <v-icon>edit</v-icon>詳細
            </v-btn>
            <v-spacer />
            <v-btn color="success" class="ma-1" @click="update">
              <v-icon>update</v-icon>更新
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>

    <!-- アラート -->
    <v-alert v-model="alert.isVisible" :type="alert.type" dismissible>
      {{ alert.message }}
    </v-alert>

    <!-- 本 -->
    <BookFormComponent v-model="book" />
  </div>
</template>

<script>
export default {
  components: {
    BookFormComponent: () => import('@/components/BookForm.vue')
  },
  validate({ params }) {
    // 数値でなければならない
    return /^\d+$/.test(params.id)
  },
  data: () => ({
    book: {},
    publishers: [],
    alert: {
      isVisible: false,
      type: 'success',
      message: ''
    }
  }),
  computed: {
    dataid() {
      return this.$route.params.id
    },
    publisher() {
      if (this.book.publisher != null) {
        return this.book.publisher
      } else {
        return ''
      }
    },
    authors() {
      if (this.book.authors != null) {
        return this.book.authors
      } else {
        return []
      }
    }
  },
  async created() {
    await this.get()
    await this.getPublisher()
  },
  methods: {
    // =============================
    // アイテム取得
    // =============================
    async get() {
      const response = await this.$axios.get(
        process.env.API_URL + '/books/' + this.dataid,
        {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        }
      )
      this.book = response.data
    },
    async getPublisher() {
      const response = await this.$axios.get(
        process.env.API_URL + '/publishers',
        {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        }
      )
      this.publishers = []
      this.publishers.push({ id: null, name: 'なし' })
      for (const d of response.data) {
        this.publishers.push(d)
      }
      // this.publishers = response.data
    },
    // =============================
    // アイテム更新
    // =============================
    update() {
      this.alert = {
        isVisible: false,
        type: 'success',
        message: ''
      }
      this.$axios
        .put(process.env.API_URL + '/books/' + this.dataid, this.book, {
          headers: {
            Authorization: this.$store.getters['auth/token'],
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          this.alert = {
            isVisible: true,
            type: 'success',
            message: '更新しました。'
          }
        })
        .catch(() => {
          this.alert = {
            isVisible: true,
            type: 'error',
            message: '更新できませんでした。'
          }
        })
    }
  }
}
</script>
