<template>
  <div>
    <h2>本 詳細</h2>
    <!-- ボタン -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <v-btn class="ma-1" @click="$router.push('/books')">
              <v-icon>list</v-icon>一覧
            </v-btn>
            <v-btn class="ma-1" @click="$router.push(`/books/${dataid}/edit`)">
              <v-icon>edit</v-icon>編集
            </v-btn>
            <v-btn class="ma-1" @click="this.delete">
              <v-icon>delete</v-icon>削除
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <!-- 本 -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <DetailDataComponent label="タイトル" :value="book.title" />
            <DetailDataComponent label="ISBN" :value="book.isbn" />
            <DetailDataComponent label="公開年" :value="book.publicationYear" />
            <DetailDataComponent
              label="出版社"
              :value="publisher.name"
              :link="`/publishers/${publisher.id}`"
            />
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <!-- 関連する著者 -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <EditSelectDataComponent
              v-model="addAuthorId"
              label="著者"
              :items="authorsAll"
              itext="name"
              ivalue="id"
            />
            <v-btn
              color="success"
              class="ma-1"
              :disabled="addAuthorId == -1"
              @click="addAuthor(addAuthorId)"
            >
              <v-icon>update</v-icon>追加
            </v-btn>
          </v-row>
        </v-card-text>
        <v-data-table :headers="headers" :items="authors" dense>
          <!-- IDにリンクを追加 -->
          <template v-slot:item.id="{ item }">
            <nuxt-link :to="`/authors/${item.id}`">{{ item.id }}</nuxt-link>
          </template>

          <!-- 名前にリンクを追加 -->
          <template v-slot:item.name="{ item }">
            <nuxt-link :to="`/authors/${item.id}`">
              {{ item.lastName }} {{ item.firstName }}
            </nuxt-link>
          </template>

          <!-- 編集ボタンと削除ボタンを追加 -->
          <template v-slot:item.action="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="$router.push(`/authors/${item.id}/edit`)"
            >
              edit
            </v-icon>
            <v-icon small @click="rejectAuthor(item)">delete</v-icon>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </div>
</template>

<script>
export default {
  components: {
    DetailDataComponent: () => import('@/components/DetailData.vue'),
    EditSelectDataComponent: () => import('@/components/EditSelectData.vue')
  },
  validate({ params }) {
    // 数値でなければならない
    return /^\d+$/.test(params.id)
  },
  data: () => ({
    book: {},
    authorsAll: [],
    addAuthorId: -1,
    headers: [
      { text: 'ID', value: 'id', align: 'start' },
      { text: '名前', value: 'name' },
      { text: 'Actions', value: 'action', sortable: false }
    ]
  }),
  computed: {
    dataid() {
      return this.$route.params.id
    },
    publisher() {
      if (this.book.publisher != null) {
        return this.book.publisher
      } else {
        return ''
      }
    },
    authors() {
      if (this.book.authors != null) {
        return this.book.authors
      } else {
        return []
      }
    }
  },
  async created() {
    await this.get()
    await this.getAuthorAll()
  },
  methods: {
    // =============================
    // アイテム取得
    // =============================
    async get() {
      const response = await this.$axios.get(
        process.env.API_URL + '/books/' + this.dataid,
        {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        }
      )
      this.book = response.data
    },
    async getAuthorAll() {
      this.authorsAll = []
      const response = await this.$axios.get(process.env.API_URL + '/authors', {
        headers: {
          Authorization: this.$store.getters['auth/token']
        }
      })
      for (const d of response.data) {
        d.name = d.lastName + ' ' + d.firstName
        this.authorsAll.push(d)
      }
      // 既に登録済の著者を選択肢から削除
      this.authors.forEach(a => {
        this.authorsAll.forEach((b, i) => {
          if (a.id === b.id) {
            this.authorsAll.splice(i, 1)
          }
        })
      })
    },
    // =============================
    // アイテム削除
    // =============================
    delete() {
      const result = window.confirm('削除しますか？')
      if (!result) return

      this.$axios
        .delete(process.env.API_URL + '/books/' + this.dataid, {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        })
        .then(response => {
          this.$router.push('/books')
        })
        .catch(() => {})
    },
    // =============================
    // 関連する著者追加
    // =============================
    addAuthor(authorId) {
      const result = window.confirm('著者を追加しますか？')
      if (!result) return

      this.$axios
        .post(
          process.env.API_URL +
            '/books/' +
            this.dataid +
            '/authors/' +
            authorId,
          null,
          {
            headers: {
              Authorization: this.$store.getters['auth/token'],
              'Content-Type': 'application/json'
            }
          }
        )
        .then(async response => {
          this.addAuthorId = -1
          await this.get()
          await this.getAuthorAll()
        })
        .catch(() => {})
    },
    rejectAuthor(author) {
      const result = window.confirm(
        author.lastName + ' ' + author.firstName + 'を著者から外しますか？'
      )
      if (!result) return

      this.$axios
        .delete(
          process.env.API_URL +
            '/books/' +
            this.dataid +
            '/authors/' +
            author.id,
          {
            headers: {
              Authorization: this.$store.getters['auth/token']
            }
          }
        )
        .then(async response => {
          await this.get()
          await this.getAuthorAll()
        })
        .catch(() => {})
    }
  }
}
</script>
