<template>
  <div>
    <h2>著者一覧</h2>
    <!-- ボタン -->
    <v-col cols="12">
      <v-card>
        <v-card-text class="pb-0">
          <v-row dense>
            <v-text-field v-model="search" label="Search" class="ma-0 pa-0" />
            <v-spacer />
            <v-btn
              color="success"
              class="ma-1"
              @click="$router.push('/authors/new')"
            >
              <v-icon>fiber_new</v-icon>登録
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <v-alert v-model="alert.isVisible" :type="alert.type" dismissible>
      {{ alert.message }}
    </v-alert>
    <!-- テーブル -->
    <v-col cols="12">
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="authors"
        :search="search"
        show-select
        dense
      >
        <!-- IDにリンクを追加 -->
        <template v-slot:item.id="{ item }">
          <nuxt-link :to="`/authors/${item.id}`">{{ item.id }}</nuxt-link>
        </template>

        <!-- 名前にリンクを追加 -->
        <template v-slot:item.name="{ item }">
          <nuxt-link :to="`/authors/${item.id}`">
            {{ item.lastName }} {{ item.firstName }}
          </nuxt-link>
        </template>

        <!-- 編集ボタンと削除ボタンを追加 -->
        <template v-slot:item.action="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="$router.push(`/authors/${item.id}/edit`)"
          >
            edit
          </v-icon>
          <v-icon small @click="deleteItem(item)">delete</v-icon>
        </template>
      </v-data-table>
    </v-col>
  </div>
</template>

<script>
export default {
  data: () => ({
    authors: [],
    selected: [],
    search: '',
    headers: [
      { text: 'ID', value: 'id', align: 'start' },
      { text: '名前', value: 'name' },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    alert: {
      isVisible: false,
      type: 'success',
      message: ''
    }
  }),
  // =============================
  // ページ表示時処理
  // =============================
  async created() {
    await this.get()
  },
  methods: {
    // =============================
    // アイテム取得
    // =============================
    async get() {
      this.authors = []
      const response = await this.$axios.get(process.env.API_URL + '/authors', {
        headers: {
          Authorization: this.$store.getters['auth/token']
        }
      })
      for (const d of response.data) {
        this.authors.push(d)
      }
    },
    // =============================
    // アイテム削除
    // =============================
    deleteItem(item) {
      const result = window.confirm('削除しますか？')
      if (!result) return

      this.alert = {
        isVisible: false,
        type: 'success',
        message: ''
      }

      this.$axios
        .delete(process.env.API_URL + '/authors/' + item.id, {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        })
        .then(response => {
          for (const [i, book] of this.authors.entries()) {
            if (book.id === item.id) {
              this.authors.splice(i, 1)
            }
          }
          this.alert = {
            isVisible: true,
            type: 'success',
            message: '削除しました。'
          }
        })
        .catch(() => {
          this.alert = {
            isVisible: true,
            type: 'error',
            message: '削除できませんでした。'
          }
        })
    }
  }
}
</script>
