<template>
  <div>
    <h2>著者 編集</h2>
    <!-- ボタン -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <v-btn class="ma-1" @click="$router.push('/authors')">
              <v-icon>list</v-icon>一覧
            </v-btn>
            <v-btn class="ma-1" @click="$router.push(`/authors/${dataid}`)">
              <v-icon>edit</v-icon>詳細
            </v-btn>
            <v-spacer />
            <v-btn color="success" class="ma-1" @click="update">
              <v-icon>update</v-icon>更新
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>

    <!-- アラート -->
    <v-alert v-model="alert.isVisible" :type="alert.type" dismissible>{{
      alert.message
    }}</v-alert>

    <!-- 著者 -->
    <authorFormComponent v-model="author" />
  </div>
</template>

<script>
export default {
  components: {
    authorFormComponent: () => import('@/components/AuthorForm.vue')
  },
  validate({ params }) {
    // 数値でなければならない
    return /^\d+$/.test(params.id)
  },
  data: () => ({
    author: {},
    alert: {
      isVisible: false,
      type: 'success',
      message: ''
    }
  }),
  computed: {
    dataid() {
      return this.$route.params.id
    }
  },
  async created() {
    await this.get()
  },
  methods: {
    // =============================
    // アイテム取得
    // =============================
    async get() {
      const response = await this.$axios.get(
        process.env.API_URL + '/authors/' + this.dataid,
        {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        }
      )
      this.author = response.data
    },
    // =============================
    // アイテム更新
    // =============================
    update() {
      this.alert = {
        isVisible: false,
        type: 'success',
        message: ''
      }
      this.$axios
        .put(process.env.API_URL + '/authors/' + this.dataid, this.author, {
          headers: {
            Authorization: this.$store.getters['auth/token'],
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          this.alert = {
            isVisible: true,
            type: 'success',
            message: '更新しました。'
          }
        })
        .catch(() => {
          this.alert = {
            isVisible: true,
            type: 'error',
            message: '更新できませんでした。'
          }
        })
    }
  }
}
</script>
