<template>
  <div>
    <h2>著者 詳細</h2>
    <!-- ボタン -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <v-btn class="ma-1" @click="$router.push('/authors')">
              <v-icon>list</v-icon>一覧
            </v-btn>
            <v-btn
              class="ma-1"
              @click="$router.push(`/authors/${dataid}/edit`)"
            >
              <v-icon>edit</v-icon>編集
            </v-btn>
            <v-btn class="ma-1" @click="this.delete">
              <v-icon>delete</v-icon>削除
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <!-- 著者 -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <DetailDataComponent
              label="名前"
              :value="`${author.lastName} ${author.firstName}`"
            />
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <!-- 関連する本 -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <EditSelectDataComponent
              v-model="addBookId"
              label="本"
              :items="booksAll"
              itext="title"
              ivalue="id"
            />
            <v-btn
              color="success"
              class="ma-1"
              :disabled="addBookId == -1"
              @click="addBook(addBookId)"
            >
              <v-icon>update</v-icon>追加
            </v-btn>
          </v-row>
        </v-card-text>

        <v-data-table :headers="headers" :items="books" dense>
          <!-- IDにリンクを追加 -->
          <template v-slot:item.id="{ item }">
            <nuxt-link :to="`/books/${item.id}`">{{ item.id }}</nuxt-link>
          </template>

          <!-- タイトルにリンクを追加 -->
          <template v-slot:item.title="{ item }">
            <nuxt-link :to="`/books/${item.id}`">{{ item.title }}</nuxt-link>
          </template>

          <!-- 編集ボタンと削除ボタンを追加 -->
          <template v-slot:item.action="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="$router.push(`/books/${item.id}/edit`)"
              >edit</v-icon
            >
            <v-icon small @click="rejectBook(item)">delete</v-icon>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </div>
</template>

<script>
export default {
  components: {
    DetailDataComponent: () => import('@/components/DetailData.vue'),
    EditSelectDataComponent: () => import('@/components/EditSelectData.vue')
  },
  validate({ params }) {
    // 数値でなければならない
    return /^\d+$/.test(params.id)
  },
  data: () => ({
    author: {},
    booksAll: [],
    addBookId: -1,
    headers: [
      { text: 'ID', value: 'id', align: 'start' },
      { text: 'タイトル', value: 'title' },
      { text: 'ISBN', value: 'isbn' },
      { text: '発売年', value: 'publicationYear' },
      { text: 'Actions', value: 'action', sortable: false }
    ]
  }),
  computed: {
    dataid() {
      return this.$route.params.id
    },
    books() {
      if (this.author.books != null) {
        return this.author.books
      } else {
        return []
      }
    }
  },
  async created() {
    await this.get()
    await this.getBooksAll()
  },
  methods: {
    // =============================
    // 著者取得
    // =============================
    async get() {
      const response = await this.$axios.get(
        process.env.API_URL + '/authors/' + this.dataid,
        {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        }
      )
      this.author = response.data
    },
    async getBooksAll() {
      this.booksAll = []
      const response = await this.$axios.get(process.env.API_URL + '/books', {
        headers: {
          Authorization: this.$store.getters['auth/token']
        }
      })
      for (const d of response.data) {
        this.booksAll.push(d)
      }
      // 既に登録済の本を選択肢から削除
      this.books.forEach(a => {
        this.booksAll.forEach((b, i) => {
          if (a.id === b.id) {
            this.booksAll.splice(i, 1)
          }
        })
      })
    },
    // =============================
    // 著者削除
    // =============================
    delete() {
      const result = window.confirm('削除しますか？')
      if (!result) return

      this.$axios
        .delete(process.env.API_URL + '/authors/' + this.dataid, {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        })
        .then(response => {
          this.$router.push('/authors')
        })
        .catch(() => {})
    },
    // =============================
    // 関連する本追加
    // =============================
    addBook(bookId) {
      const result = window.confirm('本を追加しますか？')
      if (!result) return

      this.$axios
        .post(
          process.env.API_URL + '/books/' + bookId + '/authors/' + this.dataid,
          null,
          {
            headers: {
              Authorization: this.$store.getters['auth/token'],
              'Content-Type': 'application/json'
            }
          }
        )
        .then(async response => {
          this.addBookId = -1
          await this.get()
          await this.getBookAll()
        })
        .catch(() => {})
    },
    rejectBook(book) {
      const result = window.confirm(book.title + 'を外しますか？')
      if (!result) return

      this.$axios
        .delete(
          process.env.API_URL + '/books/' + book.id + '/authors/' + this.dataid,
          {
            headers: {
              Authorization: this.$store.getters['auth/token']
            }
          }
        )
        .then(async response => {
          await this.get()
          await this.getBookAll()
        })
        .catch(() => {})
    }
  }
}
</script>
