<template>
  <v-col cols="12">
    <v-card>
      <v-card-text>
        <v-row dense>
          <EditDataComponent v-model="value.lastName" label="姓" />
          <EditDataComponent v-model="value.firstName" label="名" />
        </v-row>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
  components: {
    EditDataComponent: () => import('@/components/EditData.vue')
  },
  props: {
    value: { type: Object, default: null }
  },
  data: () => ({}),
  computed: {
    innerValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  },
  async created() {},
  methods: {}
}
</script>
