<template>
  <v-col cols="12">
    <v-card>
      <v-card-text>
        <v-row dense>
          <EditDataComponent v-model="value.title" label="タイトル" />
          <EditDataComponent v-model="value.isbn" label="ISBN" />
          <EditDataComponent v-model="value.publicationYear" label="公開年" />
          <EditSelectDataComponent
            v-model="value.pubId"
            label="出版社"
            :items="publishers"
            itext="name"
            ivalue="id"
          />
        </v-row>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
  components: {
    EditDataComponent: () => import('@/components/EditData.vue'),
    EditSelectDataComponent: () => import('@/components/EditSelectData.vue')
  },
  props: {
    value: { type: Object, default: null }
  },
  data: () => ({
    publishers: []
  }),
  computed: {
    innerValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  },
  async created() {
    await this.getPublisher()
  },
  methods: {
    // =============================
    // 出版社取得
    // =============================
    async getPublisher() {
      const response = await this.$axios.get(
        process.env.API_URL + '/publishers',
        {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        }
      )
      this.publishers = []
      this.publishers.push({ id: null, name: 'なし' })
      for (const d of response.data) {
        this.publishers.push(d)
      }
    }
  }
}
</script>
