<template>
  <!-- widthが599px未満は1列、600px以上の場合は2列 -->
  <v-col cols="12" sm="6">
    <v-row dense>
      <!-- ラベル -->
      <v-col cols="3">
        <span>{{ label }}</span>
      </v-col>
      <!-- 値 -->
      <v-col cols="9">
        <!-- リンクをつける場合 -->
        <nuxt-link v-if="link" :to="`${link}`">
          <span>{{ value }}</span>
        </nuxt-link>
        <!-- リンクをつけない場合 -->
        <span v-else>{{ value }}</span>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  props: {
    label: { type: String, default: '' },
    value: { type: String, default: '' },
    link: { type: String, default: '' }
  }
}
</script>
