<template>
  <!-- widthが599px未満は1列、600px以上の場合は2列 -->
  <v-col cols="12" sm="6">
    <v-row dense align="center">
      <!-- ラベル -->
      <v-col cols="3">
        <span>{{ label }}</span>
      </v-col>
      <!-- 値 -->
      <v-col cols="6" class="ma-0 pa-0">
        <v-autocomplete
          v-model="innerValue"
          :items="items"
          :item-text="itext"
          :item-value="ivalue"
          placeholder="Select..."
        ></v-autocomplete>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  props: {
    label: { type: String, default: '' },
    items: { type: Array, default: null },
    itext: { type: String, default: '' },
    ivalue: { type: String, default: '' },
    value: { type: Number, default: null }
  },
  computed: {
    innerValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
