<template>
  <div>
    <nuxt-link to="/"><v-icon>home</v-icon></nuxt-link>
    <v-menu
      v-for="(menu, m) in menus"
      :key="m"
      transition="slide-y-transition"
      bottom
      offset-y
    >
      <template v-slot:activator="{ on }">
        <v-btn v-on="on">{{ menu.title }}</v-btn>
      </template>
      <v-list>
        <v-list-item v-for="(item, i) in menu.items" :key="i" :to="item.link">
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  data: () => ({
    menus: [
      {
        title: 'めにゅー１',
        items: [{ title: 'home', link: '/' }, { title: 'test', link: '/test' }]
      },
      {
        title: '本管理',
        items: [
          { title: '本一覧', link: '/books' },
          { title: '著者一覧', link: '/authors' },
          { title: '出版社一覧', link: '/publishers' }
        ]
      },
      {
        title: 'ユーザー',
        items: [
          { title: 'ログイン', link: '/login' },
          { title: 'ログアウト', link: '/logout' }
        ]
      }
    ]
  })
}
</script>
