<template>
  <div>
    <h2>出版社 編集</h2>
    <!-- ボタン -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <v-btn class="ma-1" @click="$router.push('/publishers')">
              <v-icon>list</v-icon>一覧
            </v-btn>
            <v-btn class="ma-1" @click="$router.push(`/publishers/${dataid}`)">
              <v-icon>edit</v-icon>詳細
            </v-btn>
            <v-spacer />
            <v-btn color="success" class="ma-1" @click="update">
              <v-icon>update</v-icon>更新
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>

    <!-- アラート -->
    <v-alert v-model="alert.isVisible" :type="alert.type" dismissible>
      {{ alert.message }}
    </v-alert>

    <!-- 出版社 -->
    <PublisherFormComponent v-model="publisher" />
  </div>
</template>

<script>
export default {
  components: {
    PublisherFormComponent: () => import('@/components/PublisherForm.vue')
  },
  validate({ params }) {
    // 数値でなければならない
    return /^\d+$/.test(params.id)
  },
  data: () => ({
    publisher: {},
    alert: {
      isVisible: false,
      type: 'success',
      message: ''
    }
  }),
  computed: {
    dataid() {
      return this.$route.params.id
    },
    authors() {
      if (this.publisher.authors != null) {
        return this.publisher.authors
      } else {
        return []
      }
    }
  },
  async created() {
    await this.get()
  },
  methods: {
    // =============================
    // アイテム取得
    // =============================
    async get() {
      const response = await this.$axios.get(
        process.env.API_URL + '/publishers/' + this.dataid,
        {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        }
      )
      this.publisher = response.data
    },
    // =============================
    // アイテム更新
    // =============================
    update() {
      this.alert = {
        isVisible: false,
        type: 'success',
        message: ''
      }
      this.$axios
        .put(
          process.env.API_URL + '/publishers/' + this.dataid,
          this.publisher,
          {
            headers: {
              Authorization: this.$store.getters['auth/token'],
              'Content-Type': 'application/json'
            }
          }
        )
        .then(response => {
          this.alert = {
            isVisible: true,
            type: 'success',
            message: '更新しました。'
          }
        })
        .catch(() => {
          this.alert = {
            isVisible: true,
            type: 'error',
            message: '更新できませんでした。'
          }
        })
    }
  }
}
</script>
