<template>
  <div>
    <h2>出版社 詳細</h2>
    <!-- ボタン -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <v-btn class="ma-1" @click="$router.push('/publishers')">
              <v-icon>list</v-icon>一覧
            </v-btn>
            <v-btn
              class="ma-1"
              @click="$router.push(`/publishers/${dataid}/edit`)"
            >
              <v-icon>edit</v-icon>編集
            </v-btn>
            <v-btn class="ma-1" @click="this.delete">
              <v-icon>delete</v-icon>削除
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <!-- 出版社 -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <DetailDataComponent label="名称" :value="`${publisher.name}`" />
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <!-- 関連する本 -->
    <v-col cols="12">
      <v-card>
        <v-data-table :headers="headers" :items="books" dense>
          <!-- IDにリンクを追加 -->
          <template v-slot:item.id="{ item }">
            <nuxt-link :to="`/books/${item.id}`">{{ item.id }}</nuxt-link>
          </template>

          <!-- タイトルにリンクを追加 -->
          <template v-slot:item.title="{ item }">
            <nuxt-link :to="`/books/${item.id}`">{{ item.title }}</nuxt-link>
          </template>

          <!-- 編集ボタンと削除ボタンを追加 -->
          <template v-slot:item.action="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="$router.push(`/books/${item.id}/edit`)"
              >edit</v-icon
            >
            <v-icon small @click="rejectBook(item)">delete</v-icon>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </div>
</template>

<script>
export default {
  components: {
    DetailDataComponent: () => import('@/components/DetailData.vue')
  },
  validate({ params }) {
    // 数値でなければならない
    return /^\d+$/.test(params.id)
  },
  data: () => ({
    publisher: {},
    headers: [
      { text: 'ID', value: 'id', align: 'start' },
      { text: 'タイトル', value: 'title' },
      { text: 'ISBN', value: 'isbn' },
      { text: '発売年', value: 'publicationYear' },
      { text: 'Actions', value: 'action', sortable: false }
    ]
  }),
  computed: {
    dataid() {
      return this.$route.params.id
    },
    books() {
      if (this.publisher.books != null) {
        return this.publisher.books
      } else {
        return []
      }
    }
  },
  async created() {
    await this.get()
  },
  methods: {
    // =============================
    // 出版社取得
    // =============================
    async get() {
      const response = await this.$axios.get(
        process.env.API_URL + '/publishers/' + this.dataid,
        {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        }
      )
      this.publisher = response.data
    },
    // =============================
    // 出版社削除
    // =============================
    delete() {
      const result = window.confirm('削除しますか？')
      if (!result) return

      this.$axios
        .delete(process.env.API_URL + '/publishers/' + this.dataid, {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        })
        .then(response => {
          this.$router.push('/publishers')
        })
        .catch(() => {})
    }
  }
}
</script>
