.rotateX-enter-active {
  animation: rotateX 1s;
}
.rotateX-leave-active {
  animation: rotate-out 1s;
}
.bounce-enter-active {
  animation: bounce-in .3s;
}
.bounce-leave-active {
  animation: bounce-out .3s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  80% { transform: scale(1.1) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  80% { transform: scale(1.1) }
  100% { transform: scale(0) }
}
@keyframes rotateX {
  0% { transform: rotateY(90deg) }
  100% { transform: rotateY(0deg) }
}
@keyframes rotate-out {
  100% { transform: rotateY(90deg)  }
}
