<template>
  <v-app id="inspire" dark>
    <v-container class="border" fluid>
      <v-row>
        <v-col class="border" cols="12">
          <HeaderComponent />
        </v-col>
        <v-col cols="12">
          <v-card>
            <v-card-text>
              <nuxt />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
export default {
  middleware: 'authenticated',
  components: {
    HeaderComponent: () => import('~/components/Header.vue')
  }
}
</script>
