<template>
  <div>
    <h2>出版社 登録</h2>
    <!-- ボタン -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <v-btn class="ma-1" @click="$router.push('/publishers')">
              <v-icon>list</v-icon>一覧
            </v-btn>
            <v-spacer />
            <v-btn color="success" class="ma-1" @click="insert">
              <v-icon>fiber_new</v-icon>登録
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>

    <!-- アラート -->
    <v-alert v-model="alert.isVisible" :type="alert.type" dismissible>
      {{ alert.message }}
    </v-alert>

    <!-- 著者 -->
    <PublisherFormComponent v-model="publisher" />
  </div>
</template>

<script>
export default {
  components: {
    PublisherFormComponent: () => import('@/components/PublisherForm.vue')
  },
  data: () => ({
    publisher: {},
    alert: {
      isVisible: false,
      type: 'success',
      message: ''
    }
  }),
  async created() {},
  methods: {
    // =============================
    // 登録
    // =============================
    insert() {
      this.alert = {
        isVisible: false,
        type: 'success',
        message: ''
      }
      this.$axios
        .post(process.env.API_URL + '/publishers', this.publisher, {
          headers: {
            Authorization: this.$store.getters['auth/token'],
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          this.alert = {
            isVisible: true,
            type: 'success',
            message: '登録しました。'
          }
        })
        .catch(() => {
          this.alert = {
            isVisible: true,
            type: 'error',
            message: '登録できませんでした。'
          }
        })
    }
  }
}
</script>
