<template>
  <div>
    <h2>本 登録</h2>
    <!-- ボタン -->
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row dense>
            <v-btn class="ma-1" @click="$router.push('/books')">
              <v-icon>list</v-icon>一覧
            </v-btn>
            <v-spacer />
            <v-btn color="success" class="ma-1" @click="insert">
              <v-icon>fiber_new</v-icon>登録
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>

    <!-- アラート -->
    <v-alert v-model="alert.isVisible" :type="alert.type" dismissible>
      {{ alert.message }}
    </v-alert>

    <!-- 本 -->
    <BookFormComponent v-model="book" />
  </div>
</template>

<script>
export default {
  components: {
    BookFormComponent: () => import('@/components/BookForm.vue')
  },
  data: () => ({
    book: {},
    publishers: [],
    alert: {
      isVisible: false,
      type: 'success',
      message: ''
    }
  }),
  async created() {
    await this.getPublisher()
  },
  methods: {
    // =============================
    // 出版社取得
    // =============================
    async getPublisher() {
      const response = await this.$axios.get(
        process.env.API_URL + '/publishers',
        {
          headers: {
            Authorization: this.$store.getters['auth/token']
          }
        }
      )
      this.publishers = []
      this.publishers.push({ id: null, name: 'なし' })
      for (const d of response.data) {
        this.publishers.push(d)
      }
    },
    // =============================
    // 登録
    // =============================
    insert() {
      this.alert = {
        isVisible: false,
        type: 'success',
        message: ''
      }
      this.$axios
        .post(process.env.API_URL + '/books', this.book, {
          headers: {
            Authorization: this.$store.getters['auth/token'],
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          this.alert = {
            isVisible: true,
            type: 'success',
            message: '登録しました。'
          }
        })
        .catch(() => {
          this.alert = {
            isVisible: true,
            type: 'error',
            message: '登録できませんでした。'
          }
        })
    }
  }
}
</script>
